<!-- example.ejs -->

<!DOCTYPE html>
<html lang="da">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XSS-demo</title>
</head>

<body>
  <h1>Hej, <%- username %> <%# burde være = i stedet for - %>
  </h1>
  <% for(let i=gentagelser; i--;) { %>
    <p>Jeg elsker dig!</p>
    <% } %>
</body>

</html>