<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Her ganger vi</h1>

    <!-- serveren indsætter værdierne for x, y og z nedenfor: -->
    <h1><%= x %> * <%= y %> = <%= z %></h1>

    <!-- views er standardmappen til ejs-filer i Express -->

    <button onclick="location.reload()">Nye tal</button>
  </body>
</html>
