<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velkommen</title>
  </head>
  <body>
    <h1>Hej, <%= fuldeNavn %>, velkommen tilbage!</h1>
    <h2>Du var sidst logget på her <%= dato %></h2>
  </body>
</html>
